/* SHOP **************************************************************************************************************
*
*
*
Colors: 
#38023B Dark Purple
#A288E3 Lavendar Floral
#BBD5ED Light bLUE
#CEFDFF Light Cyan
#CCFFCB Tea Green */

/* IMPORTS
************************************************************************************************************************* */
@font-face {
    font-family: 'finkheavymedium';
    src: url("../fonts/FinkHeavy\ Medium.otf")
  }
  
/* GLOBAL
************************************************************************************************************************** */

body {
    margin: 0;
    background-color: #CEFDFF;
}


/* HEADER
************************************************************************************************************************** */
.header {
    display: flex;
    background-color: #38023B;
    color: white;
    font-family: finkheavymedium;
}

.brand {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-size: 30px;
}


.header a {
    display: inline;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.header a.icon {
    display: none;
}



/* Banner
************************************************************************************************************************** */
.banner {
    display: flex;
    padding: 1rem;
    background-image: url("../images/Products/background.jpeg");
    margin: 0;
    margin-bottom: 50px;
}

.bannerbox {
    margin: auto;
    text-align: center;
    border-radius: 2%;
}

.bannerimg {
    width: 300px;
    height: 250px;
}

/* Items
************************************************************************************************************************** */

button a {
    text-decoration: none;
    color: black;
}

.items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;

}

.itembox {
    height: 300px;
    width: 220px;
    border: 5px solid black;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
}

.item {
    margin: 5px;
    text-align: center;
}

.item img {
    max-width: 300px;
    height: auto; 
}

.item button {
    font-size: 16px;
    border-radius: 8px;
    background-color: #CCFFCB;
    color: black;
    text-decoration: none;
}


/* RESPONSIVE
************************************************************************************************************************** */
@media screen and (min-width:700px) {
    .itembox {
        height: 400px;
        width: 320px;
        border: 5px solid black;
        margin: 10px;
    }

    .item button {
        font-size: 20px;
        border-radius: 8px;
        background-color: #A288E3;
        color: black;
        text-decoration: none;
    }

    .item img {
        width: 300px;
    }
}

@media screen and (max-width: 699px) {
    .item button {
        font-size: 16px;
        border-radius: 8px;
        background-color: #CCFFCB;
        color: black;
        text-decoration: none;
    }

    .item img {
        max-width: 200px;
        height: auto; 
    }
    
}

@media screen and (max-width: 500px) {
    
    h3 {
        font-size: 14px;
    }

    .bannerimg {
        width: 250px;
        height: 180px;
    }
    
    .itembox {
        height: 200px;
        width: 120px;
        border: 5px solid black;
        margin: 10px;
    }

    .item button {
        font-size: 12px;
        border-radius: 8px;
        background-color: #CCFFCB;
        color: black;
        text-decoration: none;
    }

    .item img {
        width: 100px;
    }
    
    .header a:not(:first-child) {
        display: none;
    }

    .header a.icon {
        font-size: 20px;
        display: block;
    }

    .header.responsive {
        position: relative;
        display: block;
    }

    .header.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .header.responsive a:not(:first-child) {
        float: none;
        display: block;
        text-align: right;
    }

    /*.menubox.responsive {
        display: inline-block;
    }*/

}

@media screen and (max-width: 300px) {
    .brand {
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        font-size: 20px;
    }
}